body
{
    color: white;
}
.all
{
    border: 2px solid rgb(64, 50, 50);
    border-radius: 8px;
    padding: 10px;
    box-shadow: 0 5px 20px rgb(255, 255, 255); 
    margin: 50px;   
}
h2
{
    text-align: center;
    border:2px solid rgb(64, 50, 50);
    padding: 5px;
    margin-left: 10px;
    margin-right: 10px;
    background:linear-gradient(to left, rgb(196, 93, 224),rgb(227, 163, 104));
    font-weight: bolder;
    border-radius: 8px;
    box-shadow: 0 3px 22px rgba(0, 238, 255, 0.58); 
}
.Know_me
{
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600px;
    border: 0px solid rgb(119, 118, 118);
    border-radius: 8px;
    padding-bottom: 5px;
    padding-left: 2px;
    margin-left: 20px;
}    
p,#div1
{
    text-align: center;
}
.section1
{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: row;
  border: solid 0px rgb(131, 131, 131);
  border-radius: 8px;
}
.section2
{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;     
}
hr
{
    margin-right: 0px;
    margin-left: 0px;
}
a
{
    color: rgb(233, 255, 144);
}
a:hover
{
    cursor:pointer;
    color: rgb(0, 8, 255);
}
#table1
{
    border-collapse: collapse;
    padding: 7px;
}
#ul1
{
 list-style-type: none;
 margin: 0;
 padding: 0;
 overflow: hidden; 
 border-radius: 7px;
 border: 1px solid;
}
#li1
{
   float:left;
}
#li1 a
 {
    display: block;
    padding:8px;
    background-color: #d9d9d9dd;
}
#li1 :hover
{         
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
}
.div_CSS
{
    display: flex;
    flex-wrap: wrap;
    justify-content:space-evenly;
    padding: 5px;   
    color: black;
}
.div_CSS :hover
{
    color: aliceblue;
}
.div4
{
    border: 2px solid;
    border-radius: 8px;
    padding-bottom: 10px;
}
.Past_edu
{
    display: inline-block;
    border-radius: 7px;
    border: solid 2px rgb(130, 102, 244);
    border-style: dashed;
    padding: 4px;
}
.Past_edu:hover
{
    background-color: rgb(230, 230, 230);
   color: rgb(0, 0, 0);
}
